[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "betaper"]
	path = betaper
	url = https://github.com/cran/betaper
[submodule "rareNMtests"]
	path = rareNMtests
	url = https://github.com/cran/rareNMtests
